// Colors
$black: #000;
$white: #fff;
$background-color: rgba(0, 0, 0, 0.4);
$primary-color: #2563EB;
$hover-color: #1D4ED8;

// Gradients
$gradient-text: linear-gradient(315deg, #17f9f2 40%, #b0f9a9 74%);
$gradient-text-alt: linear-gradient(315deg, #fffb00 40%, #ff00ff 74%);

// Fonts
$font-family: 'Poppins', 'Open Sans', sans-serif;

// Animations
$animation-duration: 1s;

// Shadows
$box-shadow: 0px 3px 20px 0px black;

// Transitions
$transition-time: all 200ms ease-in;